footer {
  display: flex;
  background: var(--blue);
  color: white;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  min-height: 120px;
  padding: 20px;
}

footer .contact {
  margin-top: 0;
}

footer .contact > div {
  margin: 10px;
}

footer .contact a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

footer .subtitle {
  margin: 0;
}

footer .subtitle:nth-child(2) {
  font-style: italic;
  font-size: 15px;
}

@media (max-width: 768px) {
  
  .contact div {
    font-size: 15px;
  }

}